/*
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*/

/*
Custome styles
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#notification-container {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

.is-borderless {
    border: none !important;
}

.is-normal-wrap {
    white-space: normal !important;
}

.is-margin-auto {
    margin: auto !important;
}

.justify-content-start {
    justify-content: start !important;
}

.is-rupee::before {
    content: '\20B9   ';
}

/**
Extensions fixes
**/
.datetimepicker.is-active {
    z-index: 100;
}
